@import "tailwindcss";

@font-face {
  font-family: "IBM";
  src: url(/fonts/ibm.ttf);
}

@font-face {
  font-family: "Ubuntu";
  src: url(/fonts/Ubuntu.ttf);
}

:root {
  --bg1: #292f36;
  --bg2: #1a1e23;
  --brand1: #12f7d6;
  --brand2: #98faec;
  --grey: #43454d;
  --html: #e54f26;
  --css: #0c73b8;
  --js: #e7a020;
  --react: #28a9e0;
  --white: #fff;
  --Ubuntu: "Ubuntu";
  --IBM: "IBM";
}

@theme inline {
  --color-bg1: var(--bg1);
  --color-bg2: var(--bg2);
  --color-brand1: var(--brand1);
  --color-brand2: var(--brand2);
  --color-grey: var(--grey);
  --color-html: var(--html);
  --color-css: var(--css);
  --color-js: var(--js);
  --color-react: var(--react);
  --font-ubuntu: var(--Ubuntu);
  --font-IBM: var(--IBM);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg1);
  color: var(--white);
  font-family: "Ubuntu";
}

.badge {
  background: var(--brand1);
  padding: 0px 8px;
  border-radius: 50px;
  text-transform: uppercase;
  color: #292f36;
  text-align: center;
}

.bg-blue {
  background-color: var(--brand1);
}

.bg-dark {
  background-color: var(--bg2);
}

.bg-light {
  background-color: var(--white);
}

.font-vazir {
  font-family: "Vazirmatn";
}
